<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="libs/angular.js"></script>
    <script src="js/calc.js"></script>
</head>
<body>
    <div ng-app="cApp" ng-controller="cAppCtrl">
        <p><input type="number" ng-model="a"></p>
        <p><input type="number" ng-model="b"></p>
        <div>
            <button ng-click="plus(a,b)">
                +
            </button>
            <button ng-click="minus(a,b)">
                -
            </button>
            <button ng-click="multiplication(a,b)">
                *
            </button>
            <button ng-click="division(a,b)">
                /
            </button>
        </div>
        <p>
            <input type="number"  ng-model="c">
        </p>

    </div>
</body>
</html>