<!DOCTYPE html>
<html lang="en" ng-app="helloWorldApp">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="libs/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script>


//        module
        var model = "Hello World";
        var helloWorldApp = angular.module("helloWorldApp", []);

//        controler
        helloWorldApp.controller('helloWorldCtrl', function($scope){
            $scope.message= model;
            $scope.clickHandler = function(){
                $scope.message =$scope.text;
            }
        });

    </script>
</head>
<body ng-controller="helloWorldCtrl">
    <h1>
        {{message}}
    </h1>
    <input ng-model="text">
    <button ng-click="clickHandler()">
        Refresh
    </button>
</body>
</html>