<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="libs/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script>

        var testApp = angular.module("testApp", []);
        testApp.controller("testAppCtrl", function ($scope) {
            $scope.data = {};
            $scope.modes = [
                {
                    value: '1',
                    label: 'Test1'
                },
                {
                    value: '2',
                    label: 'Test2'
                }
            ];
        })
    </script>
</head>
<body>

<div class="container" ng-controller="testAppCtrl">
    <div ng-repeat="mod in modes">
        <label>
            <input type="radio" ng-model="data.mode" value="{{mod.value}}" name="modes" />
            {{mod.label}}
        </label>
    </div>
    <div ng-switch on="data.mode">
        <div ng-switch-when="1">
            1
        </div>
        <div ng-switch-when="2">
            2
        </div>
        <div ng-switch-default>
            Выберите товары для просмотра
        </div>
    </div>
</div>
</body>
</html>